<!-- contacts part -->
<div class="container py-5">
  <div class="row">
    <div class="col-md-5 col-12 py-2 text-start">
      <p class="mb-0">Send us a message</p>
      <p>A: Laze Nancica 7, 21000 Novi Sad</p>
      <p>T: 021/422-022</p>
      <p class="mb-5">office&commat;smartinit.net</p>
      <p>MON-FRI: 7am - 10pm</p>
      <p>SATURDAY: 8am - 10pm</p>
      <p class="mb-5">SUNDAY: -</p>
      <a href="#" class="text-decoration-none text-dark d-block mb-3">FAQ /</a>
      <a href="#" class="text-decoration-none text-dark d-block mb-3"
        >Shipping & Returns /</a
      >
      <a href="#" class="text-decoration-none text-dark d-block mb-3"
        >Store Policy /</a
      >
      <a href="#" class="text-decoration-none text-dark d-block"
        >Payment Methods /</a
      >
    </div>
    <div class="col-md-7 col-12 pt-4">
      <form id="contact-form" role="form">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="form-floating mt-2 border-bottom border-dark">
              <input
                name="person_name"
                type="text"
                class="form-control border-0 focus-ring"
                id="name_input"
                placeholder="Name"
                maxlength="30"
              />
              <label for="name_input" class="form-label">Name</label>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="form-floating mt-2 border-bottom border-dark">
              <input
                name="email"
                type="email"
                class="form-control border-0 focus-ring"
                id="mail_input"
                placeholder="Email"
              />
              <label for="mail_input" class="form-label">Email</label>
            </div>
          </div>
        </div>
        <div class="form-floating mt-2 border-bottom border-dark">
          <input
            name="subject"
            type="text"
            class="form-control border-0 focus-ring"
            id="subject_input"
            placeholder="Subject"
            maxlength="60"
          />
          <label for="subject_input" class="form-label">Subject</label>
        </div>
        <div class="form-floating mt-2 border-bottom border-dark">
          <textarea
            name="message"
            id="message"
            rows="3"
            class="form-control border-0 focus-ring"
            placeholder="Message"
            style="height: 100%"
          ></textarea>
          <label for="message" class="form-label">Message</label>
        </div>
        <button
          type="button"
          class="btn btn-light border border-dark rounded-1 d-block mx-auto mt-2"
        >
          SEND
        </button>
      </form>

      <form id="newsletter_form" class="mt-5">
        <p class="mb-2">Get our newsletters</p>
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="form mt-2 border border-dark">
              <input
                name="newsletter_email"
                type="email"
                class="form-control focus-ring"
                id="newsletter_mail_input"
                placeholder="Enter your email here"
              />
            </div>
          </div>
          <div class="col-6">
            <button class="btn btn-dark mt-2 rounded-1">Subscribe now</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- pictuers part -->
<div class="container-fluid">
  <div class="row">
    <div id="left_side" class="container col-md-6 col-12 py-md-5">
      <div class="container-fluid py-5 text-light text-center">
        <div class="container-fluid py-5">
          <h3>Send Get Well Wishes</h3>
          <p>
            Brighten their recovery with beautiful florals, plants and gifts
            that will express your well wishes.
          </p>
          <button
            class="btn btn-secondary rounded-pill fw-bold py-1 d-flex flex-nowrap mx-auto"
          >
            SHOP GET WELL FLOWERS & GIFTS
          </button>
        </div>
      </div>
    </div>
    <div id="right_side" class="col-md-6 col-12 py-md-5">
      <div class="py-5">
        <div class="py-5">
          <p class="py-5 opacity-0">placeholder</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- copyright part -->
<div class="container-fluid text-center">
  <p class="mb-1">SmartInIT</p>
</div>
