.focus-ring {
  --bs-focus-ring-color: transparent;
}
#left_side {
  background-color: var(--main-pink-color);
}
#right_side {
  background-image: url(/Images/Footer/FTD_SplitBanner_Merx_1.png);
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 570px) {
  #left_side p {
    font-size: 0.7rem;
  }
  #left_side button {
    font-size: 0.9rem;
  }
}
