<div class="container my-5">
  <div class="row">
    @for(bouquet of warehouse.flowers; track $index){ @if(bouquet.category ===
    categName ){
    <button
      class="btn border-0 col-lg-4 col-md-6 col-12 text-center"
      (click)="chooseProduct($index)"
    >
      <img
        class="img-fluid"
        [src]="bouquet.imgSrc"
        [alt]="bouquet.name"
      /><br />
      <h4 class="fs-5">{{ bouquet.name }}</h4>
      <p>{{ bouquet.price }}<span>$</span></p>
    </button>
    } }
  </div>
</div>
