<div id="about_container" class="container-fluid pt-3 pb-5 text-center">
  <h1 class="text-light">GIVE WITH MEANING</h1>
  <div class="row d-flex justify-content-center">
    <div class="col-lg-9 col-md-10 col-12">
      <p class="text-light">
        For over 110 years, as the floral-gifting experts, we've been helping
        you give with more care, with greater ease, and with more meaning.<br />

        Established in 1910 as a collective of 10 florists, Florists' Transworld
        Delivery (FTD) used the telegraph to transform the age-old practice of
        flower-giving. We understood then the unique power of flowers to express
        a sentiment and helped people across the world “Say it with flowers.”
        Today, we have grown into an extensive network made up of thousands of
        local florists — each one an artisan who is handcrafting and
        hand-delivering fine bouquets all across the country.
        <br />
        When you're giving with FTD you're giving the gift of joy, strength, and
        love and you're giving it with meaning.
      </p>
      <h2 class="text-light">FTD.com Affiliate Program</h2>
      <p class="text-light mb-5">
        Advertise FTD.com on your site and get 5% on your users' purchases
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-12 text-center">
      <h3 class="text-dark py-3">Advertise</h3>
      <div class="container bg-light rounded-4 pb-5">
        <p class="text-dark py-2 border-bottom">
          Advertise FTD on your website
        </p>
        <p class="text-dark mb-5">Why Partner with FTD?</p>
        <p class="text-dark mx-5">
          After 100 years in business, we know a thing or two about flowers! In
          fact, we invented the world's first floral network and are one of
          America's most recognizable brands. Our century of success is built on
          industry leading standards for floral quality, artistry, and
          reliability. Join the FTD affiliate program and start generating
          revenue for your site.
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12 text-center">
      <h3 class="text-dark py-3">Convert</h3>
      <div class="container bg-light rounded-4 pb-5">
        <p class="text-dark py-2 border-bottom">
          Upon ad selection users are taken to product
        </p>
        <p class="text-dark mb-5">What can you expect?</p>
        <ul class="text-dark mx-5">
          <li>Full time dedicated and experienced Affiliate Manager</li>
          <li>Competitive commission and attractive conversion rate</li>
          <li>Daily reporting through CJ Affiliate</li>
          <li>
            Affiliation with the oldest and most recognized floral organization
            and Brand in the world
          </li>
          <li>Industry leading, best in class affiliate exclusive discounts</li>
          <li>
            We deliver to almost 100% of the US residents and to major Canadian
            Metropolitan areas
          </li>
          <li>
            A customizable mobile site with technology that works on hundreds of
            devices
          </li>
          <li>Product feed available</li>
          <li>Same day delivery available</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12 text-center">
      <h3 class="text-dark py-3">Earn</h3>
      <div class="container bg-light rounded-4 pb-5">
        <p class="text-dark py-2 border-bottom">
          Earn 5% commission across all products & categories
        </p>
        <p class="text-dark mb-5">How do I join?</p>
        <p class="text-dark mx-5">
          Join now through CJ Affiliate. If you have questions about becoming an
          affiliate of FTD, please contact us at:FTD-Affiliate&commat;ftdi.com
        </p>
      </div>
    </div>
  </div>
</div>
