<div class="container px-md-5">
  <div id="login_container" class="container py-5">
    <div class="container-fluid py-5">
      <div class="container-fluid py-5">
        <div class="container-fluid py-5 text-center">
          <h2>Log in</h2>
          <p>
            New to the site?
            <a class="text-dark" routerLink="/signup">Sign Up</a>
          </p>
          <div class="row">
            <div class="col-lg-4 col-md-5 col-8 ms-auto me-auto">
              <form
                class="d-flex flex-column align-items-start"
                (ngSubmit)="onSubmit()"
                #loginForm="ngForm"
              >
                <label for="mail_input">Email</label>
                <input
                  class="w-100 border border-secondary-subtle fs-4"
                  id="mail_input"
                  type="email"
                  ngModel
                  name="emailField"
                  required
                  email
                  #email="ngModel"
                />
                <span class="help-block" *ngIf="!email.valid && email.touched"
                  >Email is in incorrect format!</span
                >
                <label class="mt-2" for="psw_input">Password</label>
                <input
                  class="w-100 border border-secondary-subtle fs-4"
                  id="psw_input"
                  type="password"
                  ngModel
                  name="passwordField"
                  required
                  #password="ngModel"
                  minlength="5"
                />
                <span
                  class="help-block"
                  *ngIf="!password.valid && password.touched"
                  >At least 5 characters</span
                >
                <a class="mt-5 text-decoration-none text-dark" href="#"
                  >Forgot password?</a
                >
                <button
                  class="btn btn-light border-0 mt-2 w-100"
                  type="submit"
                  [disabled]="!loginForm.valid"
                >
                  Log In
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
