<div class="container">
  <div id="signup_container" class="container py-5">
    <div class="container-fluid py-5">
      <div class="container-fluid py-5">
        <div class="container-fluid py-5 text-center">
          <h2>Sign Up</h2>

          <div class="row">
            <div class="col-lg-4 col-md-6 col-11 ms-auto me-auto">
              <form
                class="d-flex flex-column align-items-start"
                (ngSubmit)="onSubmit()"
                #signupForm="ngForm"
              >
                <label for="name_input">First Name</label>
                <input
                  class="w-100 border border-secondary-subtle fs-4"
                  id="name_input"
                  type="text"
                  ngModel
                  name="nameField"
                  required
                  #name="ngModel"
                  minlength="5"
                  autocomplete="off"
                />
                <span class="help-block" *ngIf="!name.valid && name.touched"
                  >{{ name.value }}, Your name is too short! Type at least 5
                  symbols</span
                >
                <label for="surname_input">Last Name</label>
                <input
                  class="w-100 border border-secondary-subtle fs-4"
                  id="surname_input"
                  type="text"
                  ngModel
                  name="surnameField"
                  required
                  minlength="5"
                  #surname="ngModel"
                  autocomplete="off"
                />
                <span
                  class="help-block"
                  *ngIf="!surname.valid && surname.touched"
                  >{{ surname.value }}, Your surname is too short! Type at least
                  5 symbols</span
                >
                <label for="mail_input">Email</label>
                <input
                  class="w-100 border border-secondary-subtle fs-4"
                  id="mail_input"
                  type="email"
                  ngModel
                  name="emailField"
                  required
                  email
                  #email="ngModel"
                  autocomplete="off"
                />
                <span class="help-block" *ngIf="!email.valid && email.touched"
                  >Email is in incorrect format</span
                >
                <label class="mt-2" for="psw_input">Password</label>
                <input
                  class="w-100 border border-secondary-subtle fs-4"
                  id="psw_input"
                  type="password"
                  ngModel
                  name="passwordField"
                  required
                  #password="ngModel"
                  minlength="5"
                  autocomplete="off"
                />
                <span
                  class="help-block"
                  *ngIf="!password.valid && password.touched"
                  >Put at least 5 characters!</span
                >
                <a class="mt-5 text-decoration-none text-dark" href="#"
                  >Forgot password?</a
                >
                <button
                  class="btn btn-light border-0 mt-2 w-100"
                  type="submit"
                  [disabled]="!signupForm.valid"
                >
                  Sign Up
                </button>
                <div class="container-fluid text-center">
                  <p>
                    Already a member?
                    <a class="text-dark" routerLink="/login">Log In</a>
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
