<div class="container">
  @for(product of warehouse.offer.goods; track product){ @if(product.id ===
  warehouse.offerId){
  <div class="row">
    <div class="col-lg-6 col-12 px-0">
      <div>
        <a class="text-decoration-none text-dark" routerLink="/home">Home</a
        ><span>/</span
        ><a class="text-decoration-none text-dark" routerLink="/shop">Shop</a
        ><span>/</span><span>{{ product.category }}</span
        ><span>/</span><span>{{ product.name }}</span>
      </div>
    </div>
    <div class="col-lg-6 col-12 d-flex justify-content-end mb-3 px-0">
      <div>
        <button
          class="btn rounded-0 border-0 py-0"
          style="height: 30px"
          (click)="chooseAnother('prev')"
        >
          &lt; Prev
        </button>
        <span>|</span>
        <button
          class="btn rounded-0 border-0 py-0"
          style="height: 30px"
          (click)="chooseAnother('next')"
        >
          Next &gt;
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div
      class="col-lg-6 col-12 d-flex justify-content-lg-end justify-content-center"
    >
      <img [src]="product.imgSrc" [alt]="product.name" class="img-fluid" />
    </div>
    <div class="col-lg-6 col-12">
      <h4 class="mt-2">{{ product.name }}</h4>
      <h4>{{ product.price }}<span>$</span></h4>
      <p>{{ product.description }}</p>
      <hr />
      <div class="row">
        <div class="col-4 d-flex flex-column">
          <label for="quantity">Quantity</label>
          <input
            type="text"
            class="form-control my-2"
            id="quantity"
            #quantity
            style="width: 106px"
          />

          <button
            class="btn btn-dark rounded-1 mb-5"
            style="width: 106px"
            (click)="
              addToCart(
                product.id,
                product.imgSrc,
                product.name,
                product.price,
                quantity.value
              )
            "
          >
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>

  } }
</div>
