<!-- Button trigger modal -->
<button
  type="button"
  class="btn d-none"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  #superButton
>
  Launch demo modal
</button>

<!-- Modal -->
<div
  class="modal fade"
  #exampleModal
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div
      class="modal-content d-flex flex-column align-items-center text-center border border-2 border-dark rounded-0"
    >
      <div class="modal-header border-0 pb-2 pt-4">
        <h1 class="modal-title fs-4" id="exampleModalLabel">
          WE WANT TO MEET YOU
        </h1>
      </div>
      <div class="modal-body py-0">
        <p style="font-size: 0.8rem">
          Please Log In to continue enjoying shopping on our site
        </p>
      </div>
      <div class="modal-footer border-0 pt-0 pb-4">
        <button
          type="button"
          class="btn btn-dark border rounded-1"
          data-bs-dismiss="modal"
          routerLink="/login"
        >
          Log In
        </button>
      </div>
    </div>
  </div>
</div>
