<div class="container px-lg-5 pb-5">
  <div class="row">
    <div class="col-3 d-flex flex-column align-items-center">
      <button
        (click)="selCategory('simpathy')"
        class="btn p-0 border-0 d-flex flex-column"
      >
        <div class="container-fluid">
          <p class="text-center">Simpathy</p>
        </div>

        <img
          src="Images/Categories/category1.png"
          alt="Simpathy category"
          class="img-fluid border-danger-subtle border-bottom"
          style="min-width: 80px; max-width: 85px"
        />
      </button>
    </div>
    <div class="col-3 d-flex flex-column align-items-center">
      <button
        (click)="selCategory('anniversary')"
        class="btn p-0 border-0 d-flex flex-column"
      >
        <div class="container-fluid">
          <p class="text-center">Anniversary</p>
        </div>
        <img
          src="Images/Categories/category2.png"
          alt="Anniversary category"
          class="img-fluid border-danger-subtle border-bottom ms-2"
          style="min-width: 80px; max-width: 85px"
        />
      </button>
    </div>
    <div class="col-3 d-flex flex-column align-items-center">
      <button
        (click)="selCategory('congratulations')"
        class="btn p-0 border-0 d-flex flex-column"
      >
        <div class="container-fluid">
          <p class="text-center">Congrats</p>
        </div>
        <img
          src="Images/Categories/category3.png"
          alt="Congratulations category"
          class="img-fluid border-danger-subtle border-bottom"
          style="min-width: 80px; max-width: 85px"
        />
      </button>
    </div>
    <div class="col-3 d-flex flex-column align-items-center">
      <button
        (click)="selCategory('get-well')"
        class="btn p-0 border-0 d-flex flex-column"
      >
        <div class="container-fluid">
          <p class="text-center">Get Well</p>
        </div>

        <img
          src="Images/Categories/category4.png"
          alt="Get well category"
          class="img-fluid border-danger-subtle border-bottom"
          style="min-width: 80px; max-width: 85px"
        />
      </button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
