<div class="container">
  <div class="row text-center">
    <div class="col-3">
      <button (click)="selCategory('simpathy')" class="btn border-0">
        Simpathy<br />
        <img
          src="Images/Categories/category1.png"
          alt="Simpathy category"
          class="img-fluid border-danger-subtle border-bottom mt-3"
          width="100px"
        />
      </button>
    </div>
    <div class="col-3">
      <button (click)="selCategory('anniversary')" class="btn border-0">
        Anniversary<br />
        <img
          src="Images/Categories/category2.png"
          alt="Anniversary category"
          class="img-fluid border-danger-subtle border-bottom mt-3"
          width="100px"
        />
      </button>
    </div>
    <div class="col-3">
      <button (click)="selCategory('congratulations')" class="btn border-0">
        Congratulations<br />
        <img
          src="Images/Categories/category3.png"
          alt="Congratulations category"
          class="img-fluid border-danger-subtle border-bottom mt-3"
          width="100px"
        />
      </button>
    </div>
    <div class="col-3">
      <button (click)="selCategory('get-well')" class="btn border-0">
        Get Well<br />
        <img
          src="Images/Categories/category4.png"
          alt="Get well category"
          class="img-fluid border-danger-subtle border-bottom mt-3"
          width="100px"
        />
      </button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
