<div class="container">
  <div class="row text-center">
    <div class="col-3">
      <a href="" class="text-decoration-none text-dark"
        >Simpathy<br />
        <img
          src="Images/category1.png"
          alt="Simpathy category"
          class="img-fluid border-danger-subtle border-bottom mt-3"
          width="100px"
        />
      </a>
    </div>
    <div class="col-3">
      <a href="" class="text-decoration-none text-dark"
        >Anniversary<br />
        <img
          src="Images/category2.png"
          alt="Anniversary category"
          class="img-fluid border-danger-subtle border-bottom mt-3"
          width="100px"
        />
      </a>
    </div>
    <div class="col-3">
      <a href="" class="text-decoration-none text-dark"
        >Congratulations<br />
        <img
          src="Images/category3.png"
          alt="Congratulations category"
          class="img-fluid border-danger-subtle border-bottom mt-3"
          width="100px"
        />
      </a>
    </div>
    <div class="col-3">
      <a href="" class="text-decoration-none text-dark"
        >Get Well<br />
        <img
          src="Images/category4.png"
          alt="Get well category"
          class="img-fluid border-danger-subtle border-bottom mt-3"
          width="100px"
        />
      </a>
    </div>
  </div>
</div>
