/* You can add global styles to this file, and also import other style files */
:root {
  --main-pink-color: #feaeb8;
}
#social_nav {
  z-index: 2 !important;
}
body {
  position: relative;
  min-height: 95vh;
}
