<div id="home_header_img" class="container-fluid py-5">
  <div class="py-md-5 pb-1 my-5">
    <div
      id="home_header_content"
      class="d-flex flex-column text-end my-5 py-md-5 pt-0 me-5"
    >
      <h1>March into Spring!</h1>
      <p>Bring the meadow to them with a daisy bouquet.</p>
      <div class="d-flex justify-content-end">
        <button class="btn btn-secondary">SHOP FLOWERS</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid py-5">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-6 col-md-10 col-12">
      <p class="fs-6">
        Established in 1910, FTD has been a premium provider of beautiful floral
        arrangements and gorgeous mixed flower bouquets for over 100 years.
        Whatever the occasion, our evergreen collection of colorful stems,
        blossoming plants, and fragrant arrangements have warmed hearts all
        across the country with our flower delivery services. At FTD, we
        celebrate the little things in life and cherish the timeless charm a
        single flower embodies. From birthsday flowers to sympathy flowers, all
        of our hand-picked flower arrangements are worth more than thousand
        words. <br />
        <br />
        Our sprawling network of florists is chock-full of expert green thumbs
        with an eye for elegance and perfection. As one of the largest and most
        trusted online floral retailers in the world, we take immense pride in
        our industry-leading title. Delivering quality, innovation, creative
        artistry, and dependability, FTD is much more than just an online flower
        delivery service.
      </p>
    </div>
  </div>
</div>
<div class="container d-flex flex-column align-items-center">
  <div class="row d-flex justify-content-center">
    <div id="flower1" class="col-lg-3 col-md-6 col-12">
      <img
        src="/Images/flower1.jpeg"
        alt="Fiesta Bouquet"
        class="img-fluid d-block mx-auto"
      />
      <h4 class="text-center mb-0">Fiesta Bouquet</h4>
      <p class="fs-4 text-center">
        $<span>{{ "60" }}</span>
      </p>
    </div>
    <div id="flower2" class="col-lg-3 col-md-6 col-12">
      <img
        src="/Images/flower2.jpeg"
        alt="Alluring Elegance Bouquet"
        class="img-fluid d-block mx-auto"
      />
      <h4 class="text-center mb-0">Alluring Elegance Bouquet</h4>
      <p class="fs-4 text-center">
        $<span>{{ "72" }}</span>
      </p>
    </div>
    <div id="flower3" class="col-lg-3 col-md-6 col-12">
      <img
        src="/Images/flower3.jpeg"
        alt="Below Blue Bouquet"
        class="img-fluid d-block mx-auto"
      />
      <h4 class="text-center mb-0">Below Blue Bouquet</h4>
      <p class="fs-4 text-center">
        $<span>{{ "55" }}</span>
      </p>
    </div>
    <div id="flower4" class="col-lg-3 col-md-6 col-12">
      <img
        src="/Images/flower4.jpeg"
        alt="Mixed Roses"
        class="img-fluid d-block mx-auto"
      />
      <h4 class="text-center mb-0">Mixed Roses</h4>
      <p class="fs-4 text-center">
        $<span>{{ "35" }}</span>
      </p>
    </div>
    <div id="flower5" class="col-lg-3 col-md-6 col-12">
      <img
        src="/Images/flower5.jpeg"
        alt="Belle of the Ball Bouquet"
        class="img-fluid d-block mx-auto"
      />
      <h4 class="text-center mb-0">Belle of the Ball Bouquet</h4>
      <p class="fs-4 text-center">
        $<span>{{ "45" }}</span>
      </p>
    </div>
    <div id="flower6" class="col-lg-3 col-md-6 col-12">
      <img
        src="/Images/flower6.jpeg"
        alt="Rainbow Garden"
        class="img-fluid d-block mx-auto"
      />
      <h4 class="text-center mb-0">Rainbow Garden</h4>
      <p class="fs-4 text-center">
        $<span>{{ "50" }}</span>
      </p>
    </div>
    <div id="flower7" class="col-lg-3 col-md-6 col-12">
      <img
        src="/Images/flower7.jpeg"
        alt="Best Day Bouquet"
        class="img-fluid d-block mx-auto"
      />
      <h4 class="text-center mb-0">Best Day Bouquet</h4>
      <p class="fs-4 text-center">
        $<span>{{ "61" }}</span>
      </p>
    </div>
    <div id="flower8" class="col-lg-3 col-md-6 col-12">
      <img
        src="/Images/flower8.jpeg"
        alt="Smiles and Sunshine"
        class="img-fluid d-block mx-auto"
      />
      <h4 class="text-center mb-0">Smiles & Sunshine</h4>
      <p class="fs-4 text-center">
        $<span>{{ "45" }}</span>
      </p>
    </div>
  </div>
  <button class="btn btn-light border border-dark rounded-1">Load more</button>
</div>
<!-- contacts -->
<div class="container py-5">
  <div class="row">
    <div class="col-md-5 col-12 py-2 text-start">
      <p class="mb-0">Send us a message</p>
      <p>A: Laze Nancica 7, 21000 Novi Sad</p>
      <p>T: 021/422-022</p>
      <p class="mb-5">office&commat;smartinit.net</p>
      <p>MON-FRI: 7am - 10pm</p>
      <p>SATURDAY: 8am - 10pm</p>
      <p class="mb-5">SUNDAY: -</p>
      <a href="#" class="text-decoration-none text-dark d-block mb-3">FAQ /</a>
      <a href="#" class="text-decoration-none text-dark d-block mb-3"
        >Shipping & Returns /</a
      >
      <a href="#" class="text-decoration-none text-dark d-block mb-3"
        >Store Policy /</a
      >
      <a href="#" class="text-decoration-none text-dark d-block"
        >Payment Methods /</a
      >
    </div>
    <div class="col-md-7 col-12 pt-4">
      <form id="contact-form" role="form">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="form-floating mt-2 border-bottom border-dark">
              <input
                name="person_name"
                type="text"
                class="form-control border-0 focus-ring"
                id="name_input"
                placeholder="Name"
                maxlength="30"
              />
              <label for="name_input" class="form-label">Name</label>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="form-floating mt-2 border-bottom border-dark">
              <input
                name="email"
                type="email"
                class="form-control border-0 focus-ring"
                id="mail_input"
                placeholder="Email"
              />
              <label for="mail_input" class="form-label">Email</label>
            </div>
          </div>
        </div>
        <div class="form-floating mt-2 border-bottom border-dark">
          <input
            name="subject"
            type="text"
            class="form-control border-0 focus-ring"
            id="subject_input"
            placeholder="Subject"
            maxlength="60"
          />
          <label for="subject_input" class="form-label">Subject</label>
        </div>
        <div class="form-floating mt-2 border-bottom border-dark">
          <textarea
            name="message"
            id="message"
            rows="3"
            class="form-control border-0 focus-ring"
            placeholder="Message"
            style="height: 100%"
          ></textarea>
          <label for="message" class="form-label">Message</label>
        </div>
        <button
          type="button"
          class="btn btn-light border border-dark rounded-1 d-block mx-auto mt-2"
        >
          SEND
        </button>
      </form>

      <form id="newsletter_form" class="mt-5">
        <p class="mb-2">Get our newsletters</p>
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="form mt-2 border border-dark">
              <input
                name="newsletter_email"
                type="email"
                class="form-control focus-ring"
                id="newsletter_mail_input"
                placeholder="Enter your email here"
              />
            </div>
          </div>
          <div class="col-6">
            <button class="btn btn-dark mt-2 rounded-1">Subscribe now</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
